nav.navbar { margin-top: -35px; }

.elegant-color-dark { background-color: #212121; }

.carousel-caption { text-shadow: 2px 2px 5px black; }

div#slideCore { padding: 0px; }

span.focus { font-weight: bold; }

.score {
	font-size: 30px;
	color: #cbab00;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
	border-bottom: 6px solid #cbab00;
}

div#movieInfo { overflow: hidden; }

nav.navbar-sticky {
    position: fixed;
    top: 34px;
	width: 100%;
    z-index: 100;
}

i#addMovie {
	cursor: pointer;
	transition-property: color;
	transition-duration: .5s;
}

i#addMovie:hover { color: #404040; }